.panel {
    position: relative;
    height: 100vh;
    width: 100%;
    min-width: 110px;
    z-index: 8;

    &-wrapper {
        width: 100%;
        height: calc(100vh - 140px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include big {
            height: calc(100vh - 80px);
        }

        @include small-tablet {
            justify-content: space-between;
            padding: 20px 0;
        }

        @include mobile {
            padding: 60px 0;
        }
    }

    &-right {
        position: relative;
        height: 100vh;
        width: 100%;
        min-width: 110px;
        z-index: 2;

        @include extra {
            display: none;
        }
    }

    @include tablet {
        position: fixed;
        top: 0;
        left: 0;
        width: 70px;
        height: 100vh;
        min-width: 0;
    }

}

.logo {
    margin: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: var(--text-color);

    @include tablet {
        font-size: 24px;
        line-height: 30px;
    }
}

.block {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include big {
        height: 260px;
    }

    @include small-tablet {
        display: none;
    }
}

.number {
    font-weight: 500;
    font-size: 54px;
    line-height: 65px;
    color: var(--disaccent-color);
    transform: 0.3s;
    user-select: none;

    &.active {
        color: var(--accent-color);
    }

    @include big {
        font-size: 45px;
        line-height: 51px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
    left: 0;
    width: 58px;
    height: 79px;

    &:after {
        display: none;
    }

    @include big {
        width: 42px;
        height: 65px;

    }
}

.swiper-button-prev {
    top: 0;
}

.swiper-button-next {
    right: 0;
    top: 0;
}

.swiper-scrollbar {
    position: relative;
    width: 4px;
    flex: auto;
    left: 0;
    background-color: var(--disaccent-color);

    &:hover {
        cursor: pointer;
    }
}

.swiper-scrollbar-drag {
    width: 4px;

    background-color: var(--accent-color);
    top: -1px;
}
