.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    width: 100%;
    height: var(--header-height);
    pointer-events: none;

    &__container {
        height: 100%;
        pointer-events: none;
    }

    &-wrapper {
        width: 50%;
        height: 100%;
        margin-left: auto;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include extra {
            width: 45%;
        }

        @include big {
            width: 100%;
        }

        @include mobile {
            justify-content: flex-end;
        }
    }

    &-nav {
        pointer-events: all;
        transition: .4s;

        &__list {
            display: flex;

            @include mobile {
                flex-direction: column;
                height: 100%;
                justify-content: space-around;
                padding: 2rem;
                align-items: center;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-right: 58px;

                @include extra {
                    margin-right: 35px;
                }

                @include mobile {
                    margin: 0;
                }
            }
        }

        &__link {
            font-size: 18px;
            line-height: 22px;
            color: var(--text-color);
            transition: 0.3s;

            &.active,
            &:hover {
                color: var(--accent-color);
            }

            @include mobile {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &.menu--active {
            right: 0;
        }

        @include big {
            margin-left: auto;
            margin-right: 8%;
        }

        @include mobile {
            position: fixed;
            right: -72%;
            top: 0;
            margin: 0;
            width: 70%;
            height: 70%;
            background-color: white;
            z-index: 2;
        }

    }

    & .basket-button {
        position: relative;
        pointer-events: all;

        & span {
            position: absolute;
            right: -7px;
            top: -6px;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            font-size: 6px;
            font-weight: 700;
            line-height: 10px;
            background-color: var(--text-color);
            color: var(--white-color);
        }
    }

    .burger {
        display: none;

        @include mobile {
            display: block;
            margin-left: 2rem;
            pointer-events: all;
            z-index: 8;
            @include burger;
        }
    }


}
