<section>
    <div class="container">
        <div class="swiper main-slider">
            <div2 class="swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="main-slide">
                        <a href="#" class="main-slide__img">
                            <picture>
                                <source srcset="./img/blog/blog-1.avif" type="image/avif">
                                <source srcset="./img/blog/blog-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/blog/blog-1.jpg" class="image" width="" height=""
                                    alt="blog">
                            </picture>
                            <div class="img-caption">The Best Hair Style 2021</div>
                        </a>
                        <div class="main-slide__content">
                            <h1>Relax, Look Great, Feel Confident</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at tristique. Est
                                ante magna diam magna pharetra.
                                Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien
                                platea.
                            </p>
                            <a href="#" class="btn-reset btn btn-primary">Shopping Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="main-slide">
                        <a href="#" class="main-slide__img">
                            <picture>
                                <source srcset="./img/blog/blog-2.avif" type="image/avif">
                                <source srcset="./img/blog/blog-2.webp" type="image/webp">
                                <img loading="lazy" src="./img/blog/blog-2.jpg" class="image" width="" height=""
                                    alt="blog">
                            </picture>
                            <div class="img-caption">The Best Hair Style 2021</div>
                        </a>
                        <div class="main-slide__content">
                            <h1>Relax, Look Great, Feel Confident</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at tristique. Est
                                ante magna diam magna pharetra.
                                Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien
                                platea.
                            </p>
                            <a href="#" class="btn-reset btn btn-primary">Shopping Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="main-slide">
                        <a href="#" class="main-slide__img">
                            <picture>
                                <source srcset="./img/blog/blog-3.avif" type="image/avif">
                                <source srcset="./img/blog/blog-3.webp" type="image/webp">
                                <img loading="lazy" src="./img/blog/blog-3.jpg" class="image" width="" height=""
                                    alt="blog">
                            </picture>
                            <div class="img-caption">The Best Hair Style 2021</div>
                        </a>
                        <div class="main-slide__content">
                            <h1>Relax, Look Great, Feel Confident</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at tristique. Est
                                ante magna diam magna pharetra.
                                Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien
                                platea.
                            </p>
                            <a href="#" class="btn-reset btn btn-primary">Shopping Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="main-slide">
                        <a href="#" class="main-slide__img">
                            <picture>
                                <source srcset="./img/blog/blog-4.avif" type="image/avif">
                                <source srcset="./img/blog/blog-4.webp" type="image/webp">
                                <img loading="lazy" src="./img/blog/blog-4.jpg" class="image" width="" height=""
                                    alt="blog">
                            </picture>
                            <div class="img-caption">The Best Hair Style 2021</div>
                        </a>
                        <div class="main-slide__content">
                            <h1>Relax, Look Great, Feel Confident</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at tristique. Est
                                ante magna diam magna pharetra.
                                Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien
                                platea.
                            </p>
                            <a href="#" class="btn-reset btn btn-primary">Shopping Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="main-slide">
                        <a href="#" class="main-slide__img">
                            <picture>
                                <source srcset="./img/blog/blog-5.avif" type="image/avif">
                                <source srcset="./img/blog/blog-5.webp" type="image/webp">
                                <img loading="lazy" src="./img/blog/blog-5.jpg" class="image" width="" height=""
                                    alt="blog">
                            </picture>
                            <div class="img-caption">The Best Hair Style 2021</div>
                        </a>
                        <div class="main-slide__content">
                            <h1>Relax, Look Great, Feel Confident</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at tristique. Est
                                ante magna diam magna pharetra.
                                Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien
                                platea.
                            </p>
                            <a href="#" class="btn-reset btn btn-primary">Shopping Now</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="main-slide">
                        <a href="#" class="main-slide__img">
                            <picture>
                                <source srcset="./img/blog/blog-6.avif" type="image/avif">
                                <source srcset="./img/blog/blog-6.webp" type="image/webp">
                                <img loading="lazy" src="./img/blog/blog-6.jpg" class="image" width="" height=""
                                    alt="blog">
                            </picture>
                            <div class="img-caption">The Best Hair Style 2021</div>
                        </a>
                        <div class="main-slide__content">
                            <h1>Relax, Look Great, Feel Confident</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at tristique. Est
                                ante magna diam magna pharetra.
                                Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien
                                platea.
                            </p>
                            <a href="#" class="btn-reset btn btn-primary">Shopping Now</a>
                        </div>
                    </div>
                </div>
            </div2 </div>
            <div class="slider-pagination-current">
                <span class="slider-pagination-current__num">01</span>
            </div>
        </div>
</section>
