// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
    // base
    --font-family: "Barlow", sans-serif;
    --content-width: 1440px;
    --container-offset: 20px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --header-height: 140px;

    // colors
    --white-color: #fff;
    --accent-color: #b4977b;
    --disaccent-color: #e4d6c9;
    --text-color: #050215;
}
